{% extends "./base.html" %}

{% block title %} Editar curso {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/modificar/{{curso.id}}" method="POST">{% csrf_token %}
                  
                    <div class="form-group mb-2">
                        <textarea id="txtAct" name="txtAct" class="form-control"   required >{{curso.txtAct}}</textarea>
                    </div>
                    <div class="form-group mb-2">
                        <input type="datetime-local" id="dateFecha" name="dateFecha" class="form-control" value="{{curso.fecha | date:'Y-m-d\TH:i:s'}}" placeholder="Fecha límite" required />
                    </div>
                   
                    <div class="form-group text-center">
                        <a href="{% url 'tareas' %}" class="btn btn-outline-dark  ">Cancelar</a>
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}